In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
my_data = randn(3,3)
my_rows = ["A", "B", "C"]
my_col = ["Monday", "Tue", "Wed"]

In [4]:
#creating dataframe
df = pd.DataFrame(my_data, my_rows, my_col)
df

     Monday       Tue       Wed
A  1.019960  1.016134 -1.191975
B -2.635164  0.737699  0.704593
C -0.729590  1.775577 -0.617689

In [5]:
#importing csv file
df2 = pd.read_csv('diabetes.csv')
df2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
df2.loc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [8]:
df2.loc[[3,2]]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
2,8,183,64,0,0,23.3,0.672,32,1